<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="be.ucll.java.mobile.examen_practice">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Examen_Practice">
        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".WeatherActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".StorageActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".FragmentActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ChronoActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>